{% load static from staticfiles %}
{% load mineral_extras %}

<!doctype html>
<html lang="en">
    <head>
        </form>
        <meta charset="utf-8">
        <title>{% block title %}Yasuko's Mineral{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">

        <!-- Search from -->
        <section style="position: absolute; top: 10px; right: 10px;">
            <form action="{% url 'minerals:search' %}" method="GET">
                    <input type="search" name="q">
                    <button type="button" class="secondary small button">Search</button>
            </form>
        </section>
        <!-- Search by letter -->
        <div style="margin-left: 15px; margin-top: 10px;">
            <h3>Search by letter</h3>
            {% for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                <span style="font-size: 20px;">
                    <a {% if i == letter %} style="font-size:25px; font-weight: 900;" {% endif %} href="{% url 'minerals:alphabet' letter=i %}">{{ i }}</a>
                </span>
            {% endfor %}
            <span style="font-size: 20px;">
                <a href="{% url 'minerals:list' %}">All</a>
            </span>
        </div>
        </br>
        <!--Search by mineral group -->
        <div>
            <div class="grid-15">
                <h3>Search by group</h3>
                {% group_list selected_group %}
            </div>
        </div>
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="minerals__random">
            <a class="minerals__anchor" href="{% url 'minerals:random' %}">Show random mineral</a>
        </div>
    </body>
</html>
